* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: Kreon;
}

header {
  font-family: Kreon;
  font-weight: 400;
}

.nav-list {
  color: #FF4D00;
  float: right;
}

.nav-list ul {
  padding-left: 0;
  display: flex;
  justify-content: right;
  gap: 2rem 1rem;
}

header.navbar-container {
  max-width: 1200px;
  width: 100%;
  margin-inline: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
    
  padding-block: 1rem;
  z-index: 999;
}

header.navbar-container .nav-list li{
  list-style-type: none;
}

header.navbar-container .nav-list li a {
  color: #FF4D00;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
}

h1 {
  font-family: 'Kalam', cursive;
}

main {
    max-width: 1200px;
    width: 100%;
    margin-inline: auto;
    
    align-items: center;
}

.content {
  padding: 2rem 4rem;
  flex: 1;
  gap : 2rem;
  display: flex;
}

.opening {
  font-family: Kalam;
  font-weight: 300;
}

main .content {
  flex: 1;
  display: flex;
  align-items: center;
}

main .content .carousel {
  flex: 1 1;
  margin-block: 1rem;
}

.resep {
  flex: 1;
  gap : 2rem;
  display: flex;
  padding-top: 2rem;
}

.resep-atas-kanan img {
  height: 281px;
  width: 281px;
  padding-bottom: 1rem;
}

.resep .koki-resep img {
  float:inline-end
}

h4 {
  font-family: Kalam;
  font-weight: 400;
  border: #FF4D00;
  background-color: #FF4D00;
  color: white;
  width: 10%;
  padding: .5rem;
}

.main-list {
  font-weight: 700;
  padding-block: 1rem;
}

.list-bahan {
  padding-left: 1rem;
}

.resep-bawah {
  padding-bottom: 2rem;
}

.judul {
  font-family: Kalam;
  font-weight: 700;
  line-height: 2rem;
  font-size: 32px;
  padding-bottom: 1rem;
}

p {
  font-size: 16px;
}

.rekomendasi {
  font-family: Kreon;
  font-size: 20px;
  font-weight: 700;
  border: #FF4D00;
  background-color: #FF4D00;
  color: white;
  width: 100%;
  padding: 1rem;
}

.sub-rekomen {
  font-size: 20px;
  font-weight: 700;
  color: #FF4D00;
}

.value-rekomen {
  list-style-type: none;
}

.resep .value-rekomen li a {
  text-decoration: none;
  color: black;
}

footer {
  background-color: #FF4D00;
  padding-top: 5rem;
  justify-self: center;
  color: white;
  margin-top: 2rem;
}



